.camContainer {
    height: 400px;
    width: 500px;
    background-color: #34495e;
    border-radius: 5px;
    text-align: center;
    color: #fff;
}

.modalInputNum {
    display: block;
}

.name {
    padding-top: 10px;
}

.radioLabel {
    padding: 5px;
}

.radioBox {
    width: 100px;
    display: inline-block;
    margin: 0 20px;
}